.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px 1rem 3rem;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

#nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem, 2rem, .5rem, 2rem;
    background-color: aqua;
}


#nav-bar img{
    height: 3rem;
    width: 8rem;
}


.nav-links{
    display: flex;
    align-items: center;
}


.nav-links .links{
    list-style: none;
    display: flex;
    gap: 3rem;
    cursor: pointer;
}


.nav-links button{
    margin-left: 2rem;
    background-color: orange;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
}